/// @group [nav--site]
/// @content [Styles for the main site nav.]

.nav--site {
	display: flex;
	justify-content: center;
}

.nav-item--site {
	margin-right: $size-h3;
	position: relative;
	overflow: hidden;

	&:hover {
		overflow: visible;
		.subnav--site {
			max-height: auto;
		}
	}
}

/// @group [subnav]
/// @content [Styles for the subnavs.]

.subnav--site {
	position: absolute;
	background-color: $color-body-bkgd;
	width: 300px;
	z-index: $z-top;
}

