

.block--block_quote {
	margin-bottom: $size-h2;
}

.block_quote__icon {
	position: absolute;
	left: -$size-h3;
}

.block_quote__quote {
	margin-right: 0;
	margin-left: 0;
}

.block_quote__icon svg {
	fill: #000;
}