

.block--block_quote {
	margin-bottom: $size-h2;
}

.block_quote__icon {
	position: absolute;
	left: -$size-base;

	@include bp(sm) {
		left: -$size-h3;
	}
}

.block_quote__quote {
	margin-right: 0;
	margin-left: 0;
	padding-left: $size-sml;

	@include bp(sm) {
		padding-left: 0;
	}
}

.block_quote__icon svg {
	fill: #000;
}