
// ----
// Base styles
// ----

* {
	box-sizing: border-box;
}

body {
	word-wrap: break-word;
	background-color: $color-body-bkgd;
	// background-color: $color-accent-vlight;
	border-top: $border-thick;

	@include bp(small) {
		word-wrap: normal;
	}
}

img {
	max-width: 100%;
}

hr {
	margin-top: $size-base;
	margin-bottom: $size-base;
	border-top: 0;
	border-bottom: $border-accent;
}

.site-wrap {
	@include contain(lg)
}

.site-main {
	@include grid;
}

.site-content {
	float: left;
	@include cell;
}

.site-sidebar {
	@include bp(md) {
		float: left;
		@include cell(fourth);
	}
}