
// ----
// Base styles
// ----

* {
	box-sizing: border-box;
}

body {
	word-wrap: break-word;
	background-color: $color-body-bkgd;
	border-top: 5px solid $color-accent-dark;

	@include bp(small) {
		word-wrap: normal;
	}
}

img {
	max-width: 100%;
}

hr {
	margin-top: $size-base;
	margin-bottom: $size-base;
	border-top: 0;
	border-bottom: $border-accent;
}

.site-main {
	// background-color: $color-body-contain;
	// padding: $size-h4;
	// border: $border-accent;
	
	@include contain(md);
}

.site-sidebar {
	@include bp(md) {
		border-left: $border-accent;
		@include cell(third);
		padding-left: $size-h4;
	}
}