<div class="item__icon">
	{% if post.in_person %}
		{% include 'partials/svg.twig' with { file: 'office', prefix: 'icon'} %}
	{% else %}
		{% include 'partials/svg.twig' with { file: 'hangouts', prefix: 'icon'} %}
	{% endif %}
</div>
<div class="item__main">
	{% if post.in_person %}
		<h5 class="item__title">New York, NY</h5>
		<p class="meta">This course will take place in a conference room at my coworking space, <a href="http://cowork.rs">Cowork|rs</a> at 23rd and Park in Manhattan. There will also be a live stream using using <a href="https://plus.google.com/hangouts/onair" target="blank">Google Hangouts on Air</a>.</p>
	{% else %}
		<h5 class="item__title">Hangouts On Air</h5>
		<p class="meta">This course takes place live using <a href="https://plus.google.com/hangouts/onair" target="blank">Google Hangouts on Air</a>, and recordings available for later viewing.</p>
	{% endif %}
</div>