<div class="alert-info">
	<h2>Ah!</h2>
	<p class="lead">This content is for Tackle Box members only.</p>
	<a class="btn-info" href="{{site.link}}/log-in">Log In</a> or <a class="btn-success" href="{{site.link}}/register">Sign Up</a>
</div>