<div class="alert--info">
	<h3 class="alert__title">You need an account!</h3>
	<p>Register for a "Scallop" Tackle Box subscription to view this content.</p>
	{{function('do_shortcode', '[register_form id="5"]')}}
</div>