
<nav class="nav--prevnext">
	<div class="grid">
		<div class="cell nav-next">
			{% if post.next %}
				<a href="{{post.next.link}}">&larr;{{post.next.title}}</a>	
			{% endif %}
		</div>
		<div class="cell nav-prev">
			{% if post.prev %}
				<a href="{{post.prev.link}}">{{post.prev.title}}&rarr;</a>
			{% endif %}
		</div>
	</div>
</nav>