
<nav class="nav--prevnext">
	<div class="nav__wrap--prevnext nav--next">
		{% if post.next %}
			{% include 'partials/svg.twig' with { file: 'arrow-left', prefix: 'icon' } %}
			<a class="nav__link--next" href="{{post.next.link}}">{{post.next.title}}</a>	
		{% endif %}
	</div>
	<div class="nav__wrap--prevnext nav--prev">
		{% if post.prev %}
			<a class="nav__link--prev" href="{{post.prev.link}}">{{post.prev.title}}</a>
			{% include 'partials/svg.twig' with { file: 'arrow-right', prefix: 'icon' } %}
		{% endif %}
	</div>
</nav>