<nav class="nav-prevnext">
	<div class="next">
		{% if post.next %}
			{% include 'partials/svg.twig' with { file: 'arrow-left', prefix: 'icon' } %}
			<a class="next-link" href="{{post.next.link}}">{{post.next.title}}</a>	
		{% endif %}
	</div>
	<div class="prev">
		{% if post.prev %}
			<a class="prev-link" href="{{post.prev.link}}">{{post.prev.title}}</a>
			{% include 'partials/svg.twig' with { file: 'arrow-right', prefix: 'icon' } %}
		{% endif %}
	</div>
</nav>