{% if post.get_field('sections') %}

	{% for section in post.get_field('sections') %}
		<section class="page-section" id="{{section.section_menu_item_title|lower|replace({ (' '): '_' })}}">
			
			<header class="section-header">
				<h2 class="section-title">{{section.section_title}}</h2>
				<p class="section-lead">{{section.section_lead}}</p>
			</header>

			{% for block in section.blocks %} 
				{% include 'blocks/block-logic.twig' %}
			{% endfor %}

		</section>
	{% endfor %}
{% else %}
	<h3 class="section-title">Content on it's way!</h3>
{% endif %}