<nav class="section__nav contain--md">

	<ul class="section__nav__items">
		{% for item in post.get_field('sections') %}
			<li class="section__nav__item">
				<a class="section__nav__item__link" href="#{{item.section_menu_item_title|replace({ (' '): '_' })|lower}}">{{item.section_menu_item_title}}</a>
			</li>
		{% endfor %}
	</ul>

</nav> <!-- /.content-nav -->
