.header--page {
}

.header--single {
	// font-size: 
}

.header__banner {
	text-align: center;
}

.header__lead {
	font-size: $size-h4;
	margin-bottom: $size-base;
	margin-top: $size-base;
}

.header__title {
	margin-top: 0;
	margin-bottom: $size-h4;
	@include bp(xl) {
		font-size: $size-h1*1.5;
	}
}


.header__meta--class {
	@extend .meta--upper;
	font-weight: $font-weight-strong;

	&.class_open {
		color: $color-alert-success;
	}

	&.class_live {
		color: darken($color-alert-warning, 15%);
	}

	&.class_off {
		color: $color-text-med;
	}
}

.header__main {
	text-align: left;
	@include bp(md) {
		@include cell;
		// align-self: center;
	}
}

.header__compliment {
	// @extend .alert--success;
	@include bp(md) {
		@include cell(half);
		margin-left: $size-base;
	}	

	.item__row {
		border-bottom: $border-accent;
		padding-bottom: $size-sml;
		&.last {
			border-bottom: 0;
		}
	}
}

.header__nav__items {
	@include unstyle-list;
}

.header__nav__item {
	display: inline-block;
}