
.prevnext {
	margin-top: $size-h2;
	margin-bottom: $size-h2;
	@include grid;
}

.prev,
.next {
	@include cell($size: half);

	& > .icon {
		@include cell;
	}
}

.next {
	text-align: right;
	justify-content: flex-end;
}

.prevnext-label {
	@include meta;
	@include upperspace;
	display: block;
}