
.section__header {
	margin-top: $size-h3;
}

.section__title {

	@include bp(md) {
		@include bleed;
		padding-left: $size-base;
	}
	border-top: $border-accent;
	margin-bottom: $size-h4;
	
	padding-top: $size-base;
	margin-top: $size-base;

	&.-tabbed {
		border-top: 0;
	}
}

.section__nav {

}

.section__nav__items {
	@include unstyle-list;
	@include grid;	
}

.section__nav__item {
	@include cell;
}
