.tease__title--page {
	margin-top: 0;
}

.tease a {
	
	.item__row {
		padding-left: $size-sml; 
		padding-right: $size-sml;

		&:hover {
			background-color: $color-accent-vlight;
		}
		
		p {
			color: $color-body-text;
		}
	}

	.item__title {
		@include bp(sm) {
			margin-top: 0;
		}
	}

	.meta--med {
		font-weight: $font-weight-base;
	}
}