.tease__title {
	
	&--page,
	&--lesson {
		margin-top: 0;
	}
}

.tease__wrap--link {
	display: block;

	margin-left: -$size-sml;
	margin-right: -$size-sml;
	margin-bottom: $size-sml;

	padding-left: $size-sml; 
	padding-right: $size-sml;

	&:hover {
		background-color: $color-accent-vlight;

		.tease--screencast & {
			.icon {
				animation: roll .5s;
			}
		}
	}

	.item__row {
		
		p {
			color: $color-body-text;
		}
	}

	.item__title {
		@include bp(sm) {
			margin-top: 0;
		}
	}

	.meta--med {
		font-weight: $font-weight-base;
	}
}

