.site-footer {
	padding-top: $size-h2;
}

.site-footer-signup {
	@include contain(md);
	// border-top: $border-accent;
	// padding-bottom: $size-base;
}

.site-footer-colophon {
	text-align: center;
	// background-color: $color-accent-dark;
	@include meta($color-text-light);

	.inner {
		@include contain(lg);
	}
}

.site-footer-art img {
	width: 104%;
	height: auto;
	display: block;
}

	.shape-water {
		fill: $color-accent-dark;
	}