
.site__header {
	@include grid(false, center);
	justify-content: center;
}

.site__logo {
	@include cell(full);
	justify-content: center;
	padding-left: $size-h3;
	max-width: 80%;
	
	@include bp(sm) {
		@include cell(half, $is_first: false);
	}

	@include bp(xl) {
		@include cell(third, $is_first: false);
	}
}

	.site__logo--welcome {

	}

.site__nav {
	@include cell(full);

	> div {
		border-top: $border-accent;
		border-bottom: $border-accent;
	}
}

	.site__nav__items {
		@include unstyle-list();
		text-align: center;
		padding-bottom: $size-base;
	}

	.site__nav__item {
		display: inline-block;
		padding-top: $size-base;
		padding-left: $size-base;
		padding-right: $size-base;
	}