.bar-logged-in {
	@include rotate($bkgd: $color-alert-success);
	@include meta($color-text-vlight);
	border-bottom: $border-accent;
	text-align: right;

	a {
		color: $color-text-vlight;
	}
}

.bar-nav {
	@include contain(lg);
	ul {
		@include unstyle-list;
	}
}

.bar-nav-inner {
	@include grid($guttered: false);
}

.bar-nav-items,
.bar-nav-user {
	@include cell;
}

.bar-nav-item {
	display: inline-block;
	padding: $size-xsml;
}

.bar-nav-user {
	text-align: left;
}