
.site-header {
	@include contain(lg);
	border-bottom: $border-accent;
	margin-bottom: $size-h3;
	@include bp(md) {
		@include grid(false, center);
		align-items: flex-end;
	}
}

.site-logo {
	max-width: 60%;
	display: block;
	margin: 0 auto;
	
	@include bp(md) {
		@include cell(fourth, $is_first: false);
	}

	@include bp(lg) {
		@include cell(fourth, $is_first: false);
	}
}

.site-nav {

	@include bp(sm) {
		@include cell;
	}

	&-items {
		@include unstyle-list();
			text-align: center;
		
		@include bp(md) {
			text-align: right;
		}
		padding-bottom: $size-base;
	}

	&-item {
		display: inline-block;
		padding-right: $size-base;
		padding-bottom: $size-sml;

		&:last-child {
			padding-right: 0;
		}

		&.-access {
			border-left: $border-accent;
			padding-left: $size-sml;
		}
	}

}