
.site__header {
	border-bottom: $border-accent;
	margin-bottom: $size-h3;
	@include bp(md) {
		@include grid(false, center);
		align-items: flex-end;
	}
}

.site__logo {
	// padding-left: $size-h3;
	max-width: 60%;
	// @include cell();
	@include bp(sm) {
		display: block;
		// background-color: yellow;
		margin: 0 auto;
		
		// @include cell(half);
	}

	@include bp(md) {
		@include cell(fourth, $is_first: false);
		// background-color: green;
	}

	@include bp(lg) {
		// background-color: blue;
		@include cell(fourth, $is_first: false);
	}
}

	.site__logo--welcome {

	}

.site__nav {

	@include bp(sm) {
		@include cell;
	}

	// @include bp(lg) {
	// 	@include cell;
	// }
	> div {
		// border-top: $border-accent;
		// border-bottom: $border-accent;
	}
}

	.site__nav__items {
		@include unstyle-list();
		@include bp(sm) {
			text-align: center;
		}
		@include bp(md) {
			text-align: right;
		}
		padding-bottom: $size-base;
	}

	.site__nav__item {

		@include bp(sm) {
			display: inline-block;
			padding-right: $size-base;
		}

		a {
			@include bp(lg) {
				// font-size: $size-sml;
			}
		}

		padding-bottom: $size-sml;
		// padding-left: $size-base;
	}