

// ----
// Typography
// ----

.special {
	color: $color-accent-med;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}



// ----
// Elements
// ----

.edit-link {
	font-size: $size-sml;
	@include upperspace();
	font-weight: $font-weight-strong;
	color: $color-alert-danger;
}




// ----
// Utility
// ----

.visually-hidden {
    position: absolute;
    top: -9999999px;
    left: -999999px;
}

.radio-hide {
	visibility: hidden;
}

.corner-decor {
	width: 80%;
	bottom: -10%;
	right: -20%;
	position: absolute;
	z-index: $z-base;
}

.no-margin {
	margin: 0;
}