
$screen-sm:     33em;
$screen-md:     40em;
$screen-lg:     53em;
$screen-xl:     75em;

$gutter:        $size-base;

$directions: (
    top: flex-start,
    bottom: flex-end,
    center: center
);

$sizes: (
  full:   100%,
  half:   50%,
  third:  33.333333%,
  fourth: 25%,
  sixth:  16.66666667%
);

// Spaghetti for dinner?

@mixin cell($size: false, $direction: false, $guttered: true, $is_first: true) {

    @if $is_first == true {
        position: relative;

        @if $guttered {
          padding-left: $gutter/2;
          padding-right: $gutter/2;
        }

        @if $direction != false {
          align-self: map-get($directions, $direction);
        }   
    }

    @if $size != false {
        flex: 0 0 map-get($sizes, $size);
    } @else {
        flex: 1;    
    }

}

@mixin grid($guttered: true, $align: false, $bp: md) {

    display: flex;
    flex-flow: row wrap;
    position: relative;
        
    @if $align != false {
      align-items: map-get($directions, $align);
    }
        
    @if $guttered {
      margin-left: -$gutter/2;
      margin-right: -$gutter/2;
    }
}


/// @group containers
// TODO: this could be a map

.contain {
    margin: 0 auto;
    width: 95%;
    position: relative;
}

.contain--lg {
    @extend .contain;
    max-width: $screen-lg;
}

.contain--md {
    @extend .contain;
    max-width: $screen-md;
}

.contain--sm {
    @extend .contain;
    max-width: $screen-sm;
}

.contain--xl {
    @extend .contain;
    max-width: $screen-xl;
}



/// @group bleeds
/// @description [Bleed an element slightly out of its container.]

@mixin bleed($size: $size-base) {
	@include bp(md) {
		margin-right: -3%;
	    margin-left: -3%;
	}
}

.bleed {
	@include bleed;
}


// Prototyping classes

.grid {
  @include bp(sm) {
    @include grid;
  }
}

.cell {
    @include cell;
}

.cell__half {
    @include cell($size: half);
}