$screen-sm:     35em;
$screen-md:     42em;
$screen-lg:     50em;
$screen-xl:     60em;

$gutter:        $size-base;

$directions: (
    top: flex-start,
    bottom: flex-end,
    center: center
);

$sizes: (
  full:   100%,
  half:   50%,
  third:  33.333333%,
  fourth: 25%,
  sixth:  16.66666667%
);

// Spaghetti for dinner:

@mixin cell($size: false, $direction: false, $guttered: true, $is_first: true) {
    
    @if $is_first == true {
        position: relative;

        @if $guttered {
          padding-left: $gutter/2;
          padding-right: $gutter/2;
        }

        @if $direction != false {
          align-self: map-get($directions, $direction);
        }   
    }

    @if $size != false {
        flex: 0 0 map-get($sizes, $size);  
    } @else {
        flex: 1;    
    }
   
}

@mixin grid($guttered: true, $align: false) {
    display: flex;
    flex-flow: row wrap;
    position: relative;
        
    @if $align != false {
      align-items: map-get($directions, $align);
    }
        
    @if $guttered {
      margin-left: -$gutter/2;
      margin-right: -$gutter/2;
    }
}



/// @group squish
/// Squish allows for hanging elements on the right or left

.squish {
	padding-left: $size-base;
	padding-right: $size-base;
}

.squish-l {
	padding-left: $size-base;
}

.squish-r {
	padding-right: $size-base;
}

// TODO: this could be a map

%contain {
    margin: 0 auto;
    width: 90%;
    position: relative;
}

.contain--lg {
    @extend %contain;
    max-width: $screen-lg;
}

.contain--md {
    @extend %contain;
    max-width: $screen-md;
}

.contain--sm {
    @extend %contain;
    max-width: $screen-sm;
}

.contain--xl {
    @extend %contain;
    max-width: $screen-xl;
}



/// @group bleeds
/// @content [Bleed an element slightly out of its container.]

@mixin bleed($size: $size-base) {
	@include bp(md) {
		margin-right: -$size-base;
	    margin-left: -$size-base;
	}
}

.bleed {
	@include bleed;
}

