
/// @group themes
/// @content [Themes for rotating color schemes in site sections.]

$themes: (
    dark:   ($color-accent-dark, 
             $color-text-light,
             $color-accent-vlight),
    med:    ($color-accent-med, 
             $color-text-light,
             $color-accent-vlight),
    light:  ($color-accent-vlight, 
             $color-text-dark,
             $color-accent-dark)
);


// .theme {
//     @each $name, $colors in $themes {
//         $bgcolor: nth($colors, 1);
//         $fontcolor: nth($colors, 2);
//         $linkcolor: nth($colors, 3);

//         &--#{$name} {

//             a,
//             a:link,
//             a:visited {
//                 color: $linkcolor;
//             }

//             a:hover {
//                 color: darken($linkcolor, 10%);
//             }

//             a:active {
//                 color: darken($linkcolor, 20%);
//             }

//             // TODO: Need to deal with hover styles.
//             background-color: $bgcolor;
//             color: $fontcolor;
//         }
//     }
// }
