
.list__item--page {
	padding-bottom: $size-h3;
	margin-bottom: $size-h3;
	border-bottom: $border-accent;

	&:last-child {
		border-bottom: 0;
	}

	.item__title {
		margin-top: $size-base;
	}
}

.tease__title--page {
	font-size: $size-h4;
	margin-bottom: 0;
}