
/// @group tease-source
/// @description [Styles for source teases, including corner category indicators]

.sources__list {
	@include grid;
}

.tease--source {
	@include meta($margin: true);
	@include cell(half);

	.shape {
		width: 80%;
		bottom: -10%;
		right: -20%;
		position: absolute;
		z-index: $z-base;
		fill: $color-accent-vlight;
	}
	
}

.tease__meta--source {
	@extend .meta--upper;
}

.tease__content--source {
	position: relative;
	z-index: $z-top;
}

/// @group category-indicators
/// @content [SVG background images for source category indications]

