
/// @group tease-lesson

.tease__meta--lesson {
	@extend .meta--upper;
	margin-top: $size-h3;
	margin-bottom: 0;
	font-weight: $font-weight-strong;
}

.tease__title--lesson {

}

.tease--lesson {
	&:first-child {
		@include card($bkgd: lighten($color-alert-warning, 20%));
		@include bleed;
		padding-top: 0; 
	}
	
}



// .tease--lesson {
// 	padding-top: $size-base;
// }