
/// @group tease-lesson

.indicator--lesson {
	
	font-size: 3rem;
	font-weight: 700;

	@include bp(sm) {
		font-size: 10rem;
		line-height: 1;
	}
}

.tease--lesson {

}
// .tease--lesson {
// 	padding-top: $size-base;
// }