
/// @group tease-source
/// @content [Styles for source teases, including corner category indicators]

.tease--source {
	@include meta($margin: true);
	overflow: hidden;
	position: relative;
	margin-top: 0;

	.contain-flex & {		
		@include bp(md) {
			width: 50%;
		}
	}

	.tease-content {
		position: relative;
		z-index: $z-top;
	}

	.shape {
		width: 80%;
		bottom: -10%;
		right: -20%;
		position: absolute;
		z-index: $z-base;
		fill: $color-accent-vlight;
	}
	
}

/// @group category-indicators
/// @content [SVG background images for source category indications]

