
/// @group tease-source
/// @description [Styles for source teases, including corner category indicators]

.sources__list {
	@include bp(sm) {
		@include grid;
	}
	list-style-type: none;
	padding-left: 0;
}

.sources__list__item {
	@include bp(sm) {
		@include cell(half);
	}
	position: relative;
	overflow: hidden;
}

.tease--source {
	@include meta($margin: true);
	position: relative;

	.shape {
		fill: $color-accent-vlight;
		top: $size-h1;
		right: -$size-h1*2;
		@include bp(sm) {
			top: 30%;
			right: 30%;
		}
	}

	.icon {
		display: inline-block;
		margin-right: $size-xsml;
		fill: $color-accent-med;
	}
	
}

.tease__content {
	position: relative;
	z-index: $z-mid;
}

.tease__meta--source {
	@extend .meta--upper;
}

.tease__content--source {
	position: relative;
	z-index: $z-top;
}

/// @group category-indicators
/// @content [SVG background images for source category indications]

