
// Eventjoy widget hack

.widget-box {
	// border-top: $border-accent;
	min-height: 250px !important; 
	margin-top: $size-h3 !important;
}

.eventjoy-widget {
	min-height: 250px !important; 
}

// Footer nav

.nav--backtop {
	padding-top: $size-h1;
}

.nav--backtop .icon {
	width: $size-h2;
	height: $size-h2;
}


.has_shape_bkgd {

	.list__item__content {
		overflow: hidden;
		position: relative;
	}

	.shape {
		width: 80%;
		bottom: 0;
		right: -20%;
		position: absolute;
		z-index: $z-base;
	}
	
}