
/// @group alerts
/// @content [Alerts used for containers around text and buttons.]

// Used for buttons and alerts

$alert-colors: (
    danger:     ($color-alert-danger, $color-text-vlight),
    warning:    ($color-alert-warning, $color-text-dark),
    success:    ($color-alert-success, $color-text-dark),
    cta:        ($color-rotate-bkgd, $color-rotate-text),
    info:       (lighten($color-accent-med, 8%), $color-text-dark)
);


.alert {
    padding: $size-base;
    margin-top: $size-base;
    margin-bottom: $size-base;
    @include bleed;
}

.alert {

    @each $name, $colors in $alert-colors {

        $bgcolor: nth($colors, 1);
        $fontcolor: nth($colors, 2);
        $lighten: nth($colors, 2);
        
        &--#{$name} {
            // TODO: Need to deal with hover styles for links.
            @extend .alert;
            background-color: lighten($bgcolor, 24%);
            border: 3px solid $bgcolor;
            color: $fontcolor;
        }
    }
}

.alert__title {
    margin-top: $size-sml;
}

