
/// @group alerts
/// @content [Alerts used for containers around text and buttons.]

// Used for buttons and alerts

$alert-colors: (
    danger:     ($color-alert-danger, $color-text-light, true),
    warning:    ($color-alert-warning, $color-text-dark, false),
    success:    ($color-alert-success, $color-text-dark, true),
    cta:        ($color-cta-bkgd, $color-cta-text, true),
    info:       ($color-accent-med, $color-text-light, true)
);


.alert {
    padding: $size-base;
    margin-top: $size-base;
    margin-bottom: $size-base;
    @include bleed;
}

.alert {

    @each $name, $colors in $alert-colors {

        $bgcolor: nth($colors, 1);
        $fontcolor: nth($colors, 2);
        $lighten: nth($colors, 2);
        
        &--#{$name} {
            // TODO: Need to deal with hover styles for links.
            @extend .alert;
            @if $lighten == true {
                border: 3px solid $bgcolor;
            } @else {
                border: 3px solid darken($bgcolor, 10%);
                background-color: $bgcolor;
            }
            color: $fontcolor;
        }
    }
}

.alert__title {
    margin-top: $size-sml;
}

// Alert formatting

.alert__icon {
    @include cell($size: sixth, $guttered: false);
    
    .icon {
        @include icon($size: $size-h2*1.2);;
    }
}

.alert__main {
    @include cell;
}