
@mixin button($bgcolor, $fontcolor) {
    background-color: $bgcolor;
    color: $fontcolor;
    display: inline-block;

    &:hover {
        background-color: darken($bgcolor, 10%);
    }

    &:active {
        background-color: darken($bgcolor, 35%);
    }

    &:hover,
    &:active,
    &:focus {
        color: $fontcolor;
    }
}

/// @group buttons
/// @content [Buttons for stuff]

$buttons: (
    danger:     ($color-alert-danger, $color-text-vlight),
    warning:    ($color-alert-warning, $color-text-vlight),
    success:    ($color-alert-success, $color-text-vlight),
    cta:        ($color-accent-dark, $color-text-vlight),
    readmore:   ($color-accent-med, $color-text-vlight),
);
 
.btn {
    padding: $size-xsml $size-base;
    margin-top: $size-sml;
    margin-bottom: $size-sml;
    border: 0;
    border-radius: 2px;

    @each $name, $colors in $buttons {
        $bgcolor: nth($colors, 1);
        $fontcolor: nth($colors, 2);

        &--#{$name} {
            @extend .btn;
            // TODO: Need to deal with hover styles.
            @include button($bgcolor, $fontcolor);
        }
    }
}

.btn--hangout {
    @extend .btn;
    @include button($color-hangouts, $color-text-vlight);
    .icon {
        @include icon($size: $size-sml, $fill: $color-text-vlight, $hover: $color-text-vlight);
        display: inline-block;
        margin-right: $size-xsml;
    }
}

.btnset {
    @include grid;
    justify-content: flex-start;
}

.btnset__btn {
    text-align: left;
    @include cell;
}


