
/// @group buttons
/// @content [Buttons for stuff]

$buttons: (
    danger:     ($color-alert-danger, $color-text-vlight),
    warning:    ($color-alert-warning, $color-text-vlight),
    success:    ($color-alert-success, $color-text-vlight),
    cta:        ($color-accent-dark, $color-text-vlight),
    readmore:   ($color-accent-med, $color-text-vlight)
);
 
.btn {
    padding: $size-xsml $size-h3;
    border-radius: 3px;
    margin-top: $size-sml;
    margin-bottom: $size-sml;
    border: 0;

    @each $name, $colors in $buttons {
        $bgcolor: nth($colors, 1);
        $fontcolor: nth($colors, 2);

        &--#{$name} {
            @extend .btn;
            // TODO: Need to deal with hover styles.
            background-color: $bgcolor;
            color: $fontcolor;

            &:hover {
                background-color: darken($bgcolor, 20%);
                color: $fontcolor;
            }
            &:active {
                background-color: darken($bgcolor, 35%);
            }
        }
    }
}