

// -----
// Form styles
// -----

// Remove the blue outline from Chrome
*:focus {
    outline: 0;
}

label, select {
	// display: block;
}

label {
	font-family: $font-form;
	font-weight: $font-weight-strong;
	// font-size: $size-sml;
	// @include upperspace;

}

legend {
	margin-top: $size-h2;
	font-size: $size-h4;
	font-weight: $font-weight-strong;
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
	
	padding: $size-sml $size-base;
	width: 100%;
	border: $border-form;
	background-color: $color-accent-vlight;

	&:focus {
		border-color: $color-alert-info;
		background-color: $color-body-contain;		
	}
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-right: $size-xsml;
	margin-top: 1px \9;
	*margin-top: 0;
	line-height: normal;
	cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
}

input[type="submit"],
button {
}


select,
input[type="file"] {
	*margin-top: 4px; /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: $border-form;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

fieldset {
	border: 0;
}


// Mailchimp/Gravity forms layout

.gform_footer {
	@include clearfix;
	margin-top: $size-h3;
}

.gfield_label {
	margin-top: $size-h4;
	// margin-bottom: $size-xsml;
	display: inline-block;
}

.gfield_checkbox,
.gfield_radio {
	@include unstyle-list;
	margin-left: $gutter/2;
	margin-top: $gutter;
	
	label {
		text-transform: none;
		font-size: $size-base;
		letter-spacing: 0;
	}
}

.form--signup, 
.gform_fields {
	@include unstyle-list;
	@include grid;
}

.gfield_description {
	@include meta($color-text-med);
	margin-bottom: $size-xsml;
}

.form__half {
	@include cell(full);
	@include bp(sm) {
		@include cell(half, $is_first: falses);
	}
}

.form__full {
	margin-top: $size-base;
	@include cell(full);
}

input[type="submit"] {
	@extend .btn--success;
	width: 100%;
	@include bp(sm) {
		width: auto;
	}
}

.form__submit {
	
	float: right;
	@include cell(full);
	
	@include bp(sm) {
		@include cell(fourth, $is_first: false);
	}

}

.mc-field-group label {
	@extend .meta;
	@include upperspace;
	font-weight: $font-weight-base;
}

// Restrict Content
.rcp_user_fieldset,
.rcp_gateways_fieldset {

	& > p {
		margin-bottom: $size-base;
		@include bp(sm) {
			width: 48%;
			float: left;
		}
	}

	& > p:nth-child(2n) {
		@include bp(sm) {
			margin-bottom: $size-base;
			float: right;
		}
	}

	// label {
	// 	@include cell($size: fourth, $guttered: false);
	// }

	// input {
	// }

}

.rcp_form label {
	width: auto !important;
	@extend .meta;
	font-weight: $font-weight-base;
}

.rcp_form fieldset {
	padding: 0;
}

.rcp_subscription_fieldset {
	ul {
		padding-left: 0;
		@include bp(sm) {
			@include grid;
		}
	}
}

.rcp_subscription_level {
	@include bp(sm) {
		@include cell($size: half);
	}
	
	list-style-type: none;
	padding-bottom: $size-base;
}

.rcp_level_duration {
}

.rcp_subscription_level_name,
.rcp_price,
.rcp_level_duration {
	@include meta($color-text-dark);
	@include upperspace;
	font-weight: $font-weight-strong;
}

input[type="radio"].rcp_level {
	margin: $size-xsml;
}

	.rcp_subscription_level {
		padding: $size-sml;
		border: 5px solid white;
	}


.rcp_level_description {
	@include meta;
	display: block;
}

.rcp_gateways_fieldset > p {
	width: 100%;
}

.rcp_message.error {
	@extend .alert--danger;
}

.rcp_error,
.rcp_password_change_notice {
	font-style: italic;
	font-size: $size-sml;
}