

// -----
// Form styles
// -----

// Remove the blue outline from Chrome
*:focus {
    outline: 0;
}

label, select {
	// display: block;
}

label {
	margin-top: $size-h4;
	margin-bottom: $size-xsml;
	font-family: $font-form;
	font-size: $size-sml;
	@include upperspace;
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
	
	padding: $size-sml $size-base;
	width: 100%;
	border: $border-form;
	background-color: $color-accent-vlight;

	&:focus {
		border-color: $color-alert-info;
		background-color: $color-body-bkgd;		
	}
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-right: $size-xsml;
	margin-top: 1px \9;
	*margin-top: 0;
	line-height: normal;
	cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
}

input[type="submit"],
button {
}


select,
input[type="file"] {
	*margin-top: 4px; /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: $border-form;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

fieldset {
	border: 0;
}


// Mailchimp/Gravity forms layout

.gform_footer {
	@include clearfix;
}

.gfield_checkbox {
	@include unstyle-list;
	margin-left: $gutter/2;
	margin-top: $gutter;
	
	label {
		text-transform: none;
		font-size: $size-base;
		letter-spacing: 0;
	}
}

.form--signup, 
.gform_fields {
	@include unstyle-list;
	@include grid;
}

.gfield_description {
	@include meta($color-text-med);
}

.form__half {
	@include cell(full);
	@include bp(sm) {
		@include cell(half, $is_first: falses);
	}
}

.form__full {
	margin-top: $size-base;
	@include cell(full);
}

input[type="submit"] {
	@extend .btn--success;
	width: 100%;
	@include bp(sm) {
		width: auto;
	}
}

.form__submit {
	float: right;
	@include cell(full);
	
	@include bp(sm) {
		@include cell(fourth, $is_first: false);
	}

}


// Lesson specific

// .status-complete {
// 	background-color: $color-accent-light;
// }

// .status-complete:focus {
// 	background-color: $color-accent-med;
// }

// .status-incomplete {
// 	background-color: $color-accent-med;
// }

// .status-incomplete:focus {
// 	background-color: $color-accent-dark;
// }

// .mark-status-form {
// }