
@mixin icon($fill: $color-accent-dark, $hover: $color-accent-med, $size: $size-base, $block: true) {
	@if $block == true {
		display: block;
		margin: 0 auto;
	}
	fill: $fill;
	width: $size;
	height: $size;
	
	a &:hover {
		fill: $hover;
	}
}

.shape {
	width: 100%;
	fill: $color-accent-dark;
}

.icon {
	@include icon;
}

.icon-inline {
	// @include icon($block: false);
}
