%icon-base {
	display: block;
	margin: 0 auto;
}

@mixin icon($fill: $color-accent-dark, $hover: $color-accent-med, $size: $size-base) {
	@extend %icon-base;
	fill: $fill;
	width: $size;
	height: $size;
	
	a &:hover {
		fill: $hover;
	}
}

.shape {
	width: 100%;
	fill: $color-accent-dark;
}

.icon {
	@include icon($color-accent-dark);
}
