// Item formatting

.item__icon {
    @include bp(sm) {
        @include cell($size: sixth);
        margin-right: $gutter;
    }
    
    .icon {
        @include icon($size: $size-h2*1.2);;
    }
}

.item__main {
    padding-left: $gutter;
    // font-size: $size-sml;
    // font-weight: $font-weight-strong;

    @include bp(sm) {
        padding-left: 0;
        @include cell;
    }
}

.item__row {
    align-items: center;
    text-align: center;
    
    @include bp(sm) {
        text-align: left;
        @include grid;
    }

    padding-top: $size-sml;
    padding-bottom: $size-sml;
    border-bottom: $border-accent;

    &.last {
        border-bottom: 0;
    }
}

.item__title {
    @extend .meta--upper;
}