// Item formatting

.item__icon {

    @include cell($size: sixth);
    
    .tease & {
        order: 1;
        @include bp(sm) {
            order: 0;
        }
    }
    
    .icon {
        @include icon($size: $size-h2*1.2);;
    }
}

.item__main {
    @include cell($guttered: false);
}

.item__row {
    @include grid;
    align-items: center;

    padding-top: $size-sml;
    padding-bottom: $size-sml;
    border-bottom: $border-accent;

    .tease:last-child &, &.last {
        border-bottom: 0;
    }
}

.item__title {
    @extend .meta--upper;
}
