

/// @group [lists]
/// @content [Major and Minor list styles]

.list--major {
	list-style-type: none;
	padding-left: 0;
}

.list__item--major {
	margin-top: $size-h3;
	border-top: $border-accent;
}

.list__item__desc {
	position: relative;
	z-index: $z-mid;
}

.list--minor {
	list-style-type: none;
	padding-left: 0;
}

.list--lessons {
	list-style-type: none;
	padding-left: 0;
	@include bp(md) {
		@include grid;
	}
}

.list__item--lesson {
	@include bp(md) {
		@include cell(half);
		padding: $size-h3;
	}
	margin-bottom: $size-base;
}

.list__item__title--lesson {
	margin-top: 0;
	border-bottom: $border-accent;
}


// ----
// Content Specific Lists
// ----

// Pricing
// TODO: could be part of a map or theme for each pricing package

.list--features {
	margin-top: $size-h3;
	> ul {
		@include bp(md) {
			align-items: center;
			@include grid;
		}
	}
	
	.list__item--free_form {
		@include bp(md) {
			@include cell($size: third);

		}
		margin-bottom: $size-base;
	}

	.list__item__content {
		// @include bleed;
	}

	.list__item__title {
		margin-top: 0;
		padding: $size-base;
		font-size: $size-h5;
		@include upperspace;
	}

	.list__item__desc__text {
		padding: $size-sml;
		margin-bottom: $size-base;
		font-size: $size-sml;
	}
}

.price {
	color: $color-alert-warning;
	font-weight: normal;
}

.list__item--tuna {
	
	@include bp(md) {
		order: 1;
	}
	
	.list__item__title {
		@include rotate($color-tuna, $color-text-vlight);
		// border-top: 10px solid $color-tuna;
	}

	.list__item__content {
		border: 3px solid rgba($color-tuna, 0.1);
	}

	.list__item__desc {
	}

	.shape {
		fill: rgba($color-tuna, 0.1);
	}
}

.list__item--salmon {
	@include bp(md) {
		order: 0;
	}
	.list__item__content {
		border: 3px solid rgba($color-salmon, 0.1);
	}

	.list__item__title {
		@include rotate($color-salmon, $color-text-vlight);
	}
	
	.shape {
		fill: rgba($color-salmon, 0.2);
	}
}

.list__item--scallop {
	@include bp(md) {
		order: 2;
	}
	.list__item__title {
		@include rotate($color-scallop, $color-text-vlight);
	}

	.list__item__content {
		border: 3px solid rgba($color-scallop, 0.2);
	}

	.shape {
		fill: rgba($color-scallop, 0.3);
	}
}


// Pricing

.list--icons {

	margin-top: $size-h3;
	
	> ul {
		@include bp(md) {
			@include grid;
		}
	}
	
	.list__item--free_form {
		@include bp(md) {
			@include cell($size: half);

		}
		margin-bottom: $size-base;
	}


	.list__item__content {
		@include grid;
		align-items: center;
	}

	.list__item__desc {
		order: 1;
		@include cell;
	}

	.list__item__img {
		order: 0;
		@include cell($size: fourth);
	}

	.list__item__title {
		@extend .item__title;
	}

	.list__item__desc__text {
		margin-bottom: $size-base;
		font-size: $size-sml;
	}
}



// Widgets

.list--widgets {
	list-style-type: none;
	padding-left: 0;
}

.list__item--widget {
	// @include card;
}