

/// @group [lists]
/// @content [Major and Minor list styles]

.list--major {
	list-style-type: none;
	padding-left: 0;

	& > li {
		margin-top: $size-h3;
		border-top: $border-accent;
	}

	.list-item--free_form { 
	}
}


.list--minor {
	list-style-type: none;
	padding-left: 0;
}

.list--lessons {
	list-style-type: none;
	padding-left: 0;
	@include grid;
	& > li {
		@include cell($size: half);
	}
}

	.list__item__title--lesson {
		// margin-top: 0;
	}

