
.helper-support {
	@include upperspace();
	font-size: $size-sml;
}

.helper-label {
	padding: $size-xsml/2 $size-xsml;
	font-weight: 300;
}

.helper-label-active {
	@include meta($color-text-light);
	background-color: $color-alert-success;
}

.meta {
	@include meta();
	line-height: $line-height-sm;
}

	.meta--light {
		line-height: $line-height-sm;
		@include meta($color-text-light);
	}

	.meta--dark {
		line-height: $line-height-sm;
		@include meta($color-body-text);
	} 