

// .helper-label {
// 	padding: $size-xsml/2 $size-xsml;
// 	font-weight: 300;
// }

// .helper-label-active {
// 	@include meta($color-text-light);
// 	background-color: $color-alert-success;
// }


.meta {
    font-size: $size-sml;
	line-height: $line-height-sm;
}

	.meta--upper {
		@extend .meta;
		@include upperspace();
	}

	.meta--light {
		@extend .meta;
		color: $color-text-light;

		a {
			color: $color-text-vlight;

			&:hover {
				color: $color-text-light;				
			}
		}
	}

	.meta--med {
		@extend .meta;
		color: $color-text-med;
	}

	.meta--success {
		@extend .meta;
		color: $color-alert-success;
	}

.special--med {
	color: $color-text-med;
	font-weight: $font-weight-base;
}