
/// @group Tables

table {
    width: 100%;
    font-family: $font-form;
    margin-top: $size-h5;
    margin-bottom: $size-h5;

    caption {
        margin: 0 0 7px;
        font-size: $size-xsml;
        color: $color-text-light;
    }
}

tr {
    font-size: $size-sml;
    &:nth-child(even) {
        background-color: $color-accent-vlight;
    }
}

td {
    padding: $size-xsml;
    border-right: 1px dotted $color-accent-med;

    &:last-child {
        border-right: 0;
    }
}

th {
    background-color: $color-accent-light;
    border-bottom: 1px dotted $color-accent-med;
    border-right: 1px dotted $color-accent-med;
    padding: $size-xsml;
    text-align: left;

    &:last-child {
        border-right: 0;
    }
}