.title-tease {

}

.title-tease--source {
	margin-top: $size-h4;

	.icon {
		fill: $color-accent-med;
		display: inline-block;
	}

	.meta {
		font-weight: $font-weight-base;
	}
}

.title-tease--lesson {
	margin-top: 0;
}

.title-header {

}

.title-section {
	margin-bottom: $size-h4;
	font-size: $size-h2;
	border-top: $border-accent;
	padding-top: $size-base;
}

.title-single,
.title-page {
	// text-align: center;
}

.title-single--lesson {
	margin-top: 0;
}

.title-page {

}

.title-cta {
	margin-top: $size-base;
}

.title-site {
	font-size: $size-h3;
}
