
<footer class="site-footer">

	<div class="site-footer-signup">
		<h3>Stay in the Loop</h3>
		<p>Sign up for emails announcing new courses, resources, and other cool stuff.</p>
		{% include 'partials/mailchimp.twig' %}
	</div>

	<nav class="nav-backtop">
		<a href="#pageTop">
			{% include 'partials/svg.twig' with { file : 'arrow-up', prefix : 'icon' }%}
		</a>
	</nav>

	<div class="site-footer-art">
		<img src="{{site.theme.link}}/assets/img/svg-min/water.min.svg" alt="Fishy in water">
	</div>

	<div class="site-footer-colophon">
		<div class="inner">
			{% if site_footer_copyright %}
				{# <div class="site-footer-chunk"> #}
					<p>{{site_footer_copy}}</p>
				{# </div> #}
			{% endif %}
			{% if site_footer_credits %}
				{# <div class="site-footer-chunk"> #}
					<p>{{site_footer_credits}}</p>
				{# </div> #}
			{% endif %}
		</div>
	</div>
</footer>
