{% extends 'base.twig' %}

{% block content %}

	<h1>{{term.name}}</h1>
	
	<p>{{term.description}}</p>
		
	{% for post in lessons %}
		{% include 'teases/tease-lesson.twig' %}
	{% endfor %}
	
{% endblock %}
