{% extends 'base.twig' %}

{% block before_content %}
	{% include 'archives/_tax-header.twig' %}
{% endblock %}

{% block content %}

	<div class="contain--sm">
	{# {% if access %} #}

		{% set now = "now"|date("U") %}

		{# Future lessons #}
		{% for post in lessons %}
			{% if post.lesson_date|date("U") > now %}
				{% include 'teases/_tease-lesson.twig' with { class: 'upcoming' } %}
			{% endif %}
		{% endfor %}

		{# Past lessons #}
		<h2 class="section__title">Past Lessons</h2>
		{% for post in lessons %}
			{% if post.lesson_date|date("U") < now %}
				{% include 'teases/_tease-lesson.twig' with { class: 'past' } %}
			{% endif %}
		{% endfor %}

		{% for post in assignments %}
			{% include 'teases/_tease-screencast.twig' %}
		{% endfor %}
	{# {% endif %} #}
	</div>
{% endblock %}
