{% extends 'base.twig' %}

{% block before_content %}
	{% include 'archives/_tax-header.twig' %}
{% endblock %}

{% block content %}

	<div class="contain--xl">
	
	{% if access %}
		<p class="header__meta">Lesson Archive</p>
		<h1 class="header__title--archive">{{term.name}}</h1>
		
		<header class="grid">
			<div class="cell--half">
				{# TODO: term info needs to be part of class taxonomy #}
				{# <p class="header__meta{% if start >= now %} class_open{% elseif start < now and end >= now %} class_live{% else %} class_off{% endif %}">
					{% if start >= now %}
						Now Registering
					{% elseif start < now and end >= now %}
						Class in session
					{% else %}Not Live{% endif %}
				</p> #}
				<p>{{term.description}}</p>
			
			</div>
		{# </header> #}

		{# <div class="grid upcoming-lessons"> #}
			{% set now = "now"|date("U", "America/New_York") %}
		
			{# Future lessons #}
			{% for post in lessons %}
			
				{% set l_date = post.lesson_date|date("U", "America/New_York") %}

				{% if l_date > "-1 days"|date("U", "America/New_York") and l_date < "1 days"|date("U", "America/New_York") %}
					{% include 'teases/_tease-lesson.twig' with { class: 'now' } %}
				{% elseif l_date > now %}
					{% include 'teases/_tease-lesson.twig' with { class: 'upcoming' } %}
				{% endif %}

			{% endfor %}
		</div>
		
		{# Past lessons #}
		<h2 class="section__title text-center">Archived Lessons</h2>
		
		<div class="grid">
			{% for post in lessons %}
				{% set l_date = post.lesson_date|date("U", "America/New_York") %}
				{% if l_date < "-1 days"|date("U", "America/New_York") %}
					{% include 'teases/_tease-lesson.twig' with { class: 'past' } %}
				{% endif %}
			{% endfor %}
		</div>
		
		{# Screencasts lessons
		<h2 class="section__title text-center">Screencasts</h2>
		
		<div class="grid">
			{% for post in screencasts %}
				{% include 'teases/_tease-screencast.twig' with { class: 'past' } %}
			{% endfor %}
		</div> #}

	{% else %}
		{% include 'partials/no-access.twig' %}
	{% endif %}

	</div>
{% endblock %}
