{% extends "blocks/block.twig" %}

{% block content %}

	<div class="alert alert--cta">
		<p class="lead lead--cta">{{block.cta_text}}</p>
		{% if block.cta_btn_url %}
			<a href="{{block.cta_btn_url}}" class="btn btn--cta">{{block.cta_btn_text}}</a>
		{% else %}
			{# TODO: Switch this link! #}
			<a href="http://notlaura.com" class="btn btn--cta">Schedule Office Hours</a>
		{% endif %}
	</div>

{% endblock %}