{% extends "blocks/block.twig" %}

{% block content %}

	<div class="alert--cta">
		<h4 class="alert__title--cta">{{block.cta_heading}}</h4>
		<p>{{block.cta_text}}</p>
		{% if not block.cta_btn_url %}
			<a href="" class="btn--cta">Purchase Hours</a>&nbsp;<a href="" class="btn--cta">Use Hours</a>
		{% else %}
			<a href="{{block.cta_btn_url}}" class="btn--cta">{{block.cta_btn_text}}</a>
		{% endif %}
	</div>

{% endblock %}