{% extends "blocks/block.twig" %}

{% block content %}

	<div class="alert alert-cta">
		<p class="lead lead-cta">{{block.cta_text}}</p>
		{% if post.post_type == 'lesson' %}
			<a href="" class="btn btn-cta">Purchase Hours</a>&nbsp;<a href="" class="btn btn-cta">Use Hours</a>
		{% else %}
			{% if block.cta_btn_url %}
				<a href="{{block.cta_btn_url}}" class="btn <button></button>-cta">{{block.cta_btn_text}}</a>
			{% endif %}
		{% endif %}
	</div>

{% endblock %}