<section class="block-{{block_class}}">
	{# {{ block.contain ? '<div class="' ~ block.contain ~ '">' }} #}
		{% block content %}
			<p>Nothing in this Block</p>
		{% endblock %}
	{# {{ block.contain ? '</div>' }} #}
</section> <!-- /.{{block_class}} -->