{% extends 'singles/single.twig' %}

{% block after_content %}
	{% if post.next %}
		<a href="{{post.next.link}}">&larr;{{post.next.title}}</a>	
	{% endif %}
	{% if post.prev %}
		<a href="{{post.prev.link}}">{{post.prev.title}}&rarr;</a>
	{% endif %}
	{% include 'footers/_footer-lesson.twig' %}
{% endblock %}