{% extends 'singles/single.twig' %}

{% block content %}

	{# {% include 'partials/section-nav.twig' %} #}
	{% include 'partials/section-loop.twig' %}

{% endblock %}

{# {% block after_content %}
	{% include 'partials/prevnext.twig' %}
	<div class="contain--sm">
		<h5>Related Lessons:</h5>	
		<ol>
			{% for l in related_lessons %}
				<li><a href="{{l.link}}">{{l.title}}</a></li>
			{% endfor %}
		</ol>
	</div>
{% endblock %} #}
