{% extends 'singles/single.twig' %}

{% block content %}
  
	<div class="contain--lg">
		<div class="media--enhanced">
			{{post.video}}
		</div>
	</div>

	{# Blocks for additional Lesson content #}
	
	<section class="page__section" id="lesson-outline">
		
		<header class="section__header contain--sm">
			<h2 class="section__title">Lesson Outline</h2>
		</header>
	
		{% for block in post.get_field('blocks') %} 
			{% include 'blocks/block-logic.twig' %}
		{% endfor %}
		
	</section> <!-- /#lesson-outline -->

	<section class="page__section" id="homework">
		
		<header class="section__header">
			<div class="contain--sm">
				<h2 class="section__title">Homework</h2>
				{{post.assignments_summary|wpautop}}
			</div>
		</header>
		
		{% for block in post.get_field('assignment_blocks') %}
			{% include 'blocks/block-logic.twig' %}
		{% endfor %}
			
	</section> <!-- /#homework -->

{% endblock %}

{% block after_content %}
	<div class="contain--md">
		{% include 'partials/prevnext.twig' %}
	</div>	
	<div class="contain--sm">
		<h5>Other lessons in this series:</h5>	
		<ol>
			{% for l in related_lessons %}
				<li><a href="{{l.link}}">{{l.title}}</a></li>
			{% endfor %}
		</ol>
	</div>
{% endblock %}
