{% extends 'pages/page.twig' %}

{% block content %}

	<p class="header__metatitle">Workshops!</p>

	{% for block in post.get_field('blocks') %} 
		{% include 'blocks/block-logic.twig' %}
	{% endfor %}

{% endblock %}