{% extends 'pages/page.twig' %}

{% block header %}
<header class="site-header" role="banner">

    <div class="site-logo">
        <img src="{{theme.link}}/assets/img/util/tbx-logo1.svg" alt="Tackle Box Logo">
    </div>

</header>
{% endblock %}

{% block content %}

	{% for block in post.get_field('blocks') %} 
		{% include 'blocks/block-logic.twig' %}
	{% endfor %}
	
{% endblock %}