{% extends "pages/page.twig" %}

{% block content %}

	{% for section in post.get_field('sections') %}
		<section class="page__section" id="{{section.section_menu_item_title|lower|replace({ (' '): '_' })}}">
			
			<header class="section__header">
				<div class="contain--sm">
					<h2>{{section.section_title}}</h2>
					<p class="header__lead">{{section.section_lead}}</p>
				</div>
			</header>

			{% for block in section.blocks %} 
				{% include 'blocks/block-logic.twig' %}
			{% endfor %}

		</section>
	{% endfor %}
	
{% endblock %}