{% extends 'footers/footer.twig' %}

{% block footer_content %}
	<h5>Lessons in this Class:</h5>	
	<ol>
		{% for l in related_lessons %}
			<li><a href="{{l.link}}">{{l.title}}</a></li>
		{% endfor %}
	</ol>
{% endblock %}